section.about
    .container
         .title.title--with-bottom-line
            h2.title.title__header Обо мне
            .title__text Пару пунктиков о моей биографии
         ul.about__list
             li.about__item
                .icon.icon--like
                h3.about__header Образование
                p.about__description Lorem ipsum dolor sit amet, consecte rgfsgsgfs fgfdgss sfgfg fsg
             li.about__item
                     .icon.icon--book
                     h3.about__header Хобби
                     p.about__description Lorem ipsum dolor sit amet, consecte fsgfdgdf fdgsfs fsgfsfs
             li.about__item
                     .icon.icon--message
                     h3.about__header Знания
                     p.about__description Lorem ipsum dolor sit amet, consecte sfgfsfgs fgfsfg fgsfs fsfg