section.approach
    .container
        .title.title--with-bottom-line
            h2.title__header sdkflksalkaldfsd
            .title__text GRTGRrt gtrgrt etge wege ewrg weg

        ul.approach__list
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpg")
                    .approach__step step
                .approach__text
                    .approach__title Sjklj lkkl lk
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus exercitationem expe
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-2.jpg")
                    .approach__step  step
                .approach__text
                    .approach__title Sjklj lkkl lk
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus exercitationem expe
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-3.jpg")
                    .approach__step step
                .approach__text
                    .approach__title Sjklj lkkl lk
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus exercitationem expe
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-4.jpg")
                    .approach__step step
                .approach__text
                    .approach__title Sjklj lkkl lk
                    p.approach__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus exercitationem expe
