section.form-section
    .container
        .title
            h2.title__header sdkflksalkaldfsd
            .title__text GRTGRrt gtrgrt etge wege ewrg weg
        .btn-down: a.arrow-down: i.fa.fa-angle-double-down
        .form-container
            form(method="post" action="#").form
                button(type='button').form__close-button x
                .form__text.
                    rotrtiognertiogetoirntoi rtnigirt trigji itgi
                form__fields
                    input.form__input(type="text" placeholder='Ваше имя')
                    input.form__input(type="text" placeholder='Ваш телефон')
                    input.form__input(type="text" placeholder='Ваше контактное имя')
                button(type="submit").button.button--red Отправить
