header.header
    .header__top
        .container
            .contacts
                a.contact(href='tel:+8927934959')
                    i.fa.fa-mobile.contact__icon(aria-hidden='true')
                    span.contact__text 89279349959

                a.contact(href='mailto:aidar9500@gmai.com')
                    i.fa.fa-envelope.contact__icon--mail(aria-hidden='true')
                    span.contact__text aidar9500@gmail.com
                a.contact(href='facebook.com')
                    i.fa.fa-facebook-square.contact__icon--facebook(aria-hidden="true")
                    span.contact__text
    .container
        .header__bottom

            .logo: img.logo__picture(src='images/logo.png' alt="picture")
            include nav.pug
            a.button.header__button.button--red(href="#") Бесплатная консультация