section.hero
    .hero__about Junior Frontend Developer
    h1.hero__title Меня зовут Айдар и это мой первый полноценный сайт
    a.button.button--yellow.button--text-uppercase(href="#") Оставить заявку