section.work
    .container
        .title.title--with-bottom-line
            h2.title.title__header Обо мне
            .title__text Пару пунктиков о моей биографии
        ul.work__list
            li.work__item.work__item--name
                .work__name Мой проект
                .work__description Описание проекта
            li.work__item: img.work__picture(src="images/work-1.jpg" alt="картинка")
            li.work__item.work__item--name
                .work__name Мой проект
                .work__description Описание проекта
            li.work__item: img.work__picture(src="images/work-2.jpg" alt="картинка")
            li.work__item: img.work__picture(src="images/work-3.jpg" alt="картинка")
            li.work__item.work__item--name
                .work__name Мой проект
                .work__description Описание проекта
            li.work__item: img.work__picture(src="images/work-4.jpg" alt="картинка")
            li.work__item.work__item--name
                .work__name Мой проект
                .work__description Описание проекта

